@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');


* {

  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  
}

html {

  
  background-color: #1A1C1E;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #1B1B1B;
  justify-content: center;
  align-items: center;
  display: flex;
}

#loader {

  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: white;
  position: relative;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  
  0%
  {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% 
  {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }

}

#loader:before {

  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #000;
  border-radius: 50%;
  z-index: 1000;
}

#loader:after {

  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: white;
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}



/* Navbar */

.navbar-b {
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
  }
  
   
  .navbar-b.navbar-trans .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0;
  }
  
  @media (min-width: 768px) {
    .navbar-b.navbar-trans .nav-item {
      padding-left: 10px;
    }
  }
  
  .navbar-b.navbar-trans .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .navbar-b.navbar-trans .nav-link:before {
    content: '';
    position: absolute;
    margin-left: 0px;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 500ms ease;
  }
  
  @media (min-width: 768px) {
    .navbar-b.navbar-trans .nav-link:before {
      margin-left: 18px;
    }
  }
  
  .navbar-b.navbar-trans .nav-link:hover {
    color: #1B1B1B;
  }
  
  .navbar-b.navbar-trans .nav-link:hover:before {
    width: 35px;
  }
  
  .navbar-b.navbar-trans .show > .nav-link:before,
  .navbar-b.navbar-trans .active > .nav-link:before,
  .navbar-b.navbar-trans .nav-link.show:before,
  .navbar-b.navbar-trans .nav-link.active:before {
    width: 35px;
  }
  
  .navbar-b.navbar-trans .nav-link:before {
    background-color: #fff;
  }
  
  .navbar-b.navbar-trans .nav-link:hover {
    color: #fff;
  }
  
  .navbar-b.navbar-trans .show > .nav-link,
  .navbar-b.navbar-trans .active > .nav-link,
  .navbar-b.navbar-trans .nav-link.show,
  .navbar-b.navbar-trans .nav-link.active {
    color: #fff;
  }
  
  
  .navbar-b .navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
  .navbar-b .dropdown.show .dropdown-menu,
  .navbar-b .dropdown-btn.show .dropdown-menu {
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important;
  }
  
  .navbar-b .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0;
    
  }
  
  .navbar-b .dropdown-menu .dropdown-item {
    padding: .7rem 1.7rem;
    transition: all 500ms ease;
  }

  
  
  
  /*--/ Hamburger Navbar /--*/
  .navbar-toggler {
    position: relative;
    left: 85%;
    
  }

  .navbar-nav {

    float: right;
    
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0;
  }
  
  .navbar-toggler span {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    right: 0;
    opacity: 1;
    
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: transform .35s ease-in-out;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(135deg);
    opacity: 0.9;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-135deg);
    opacity: 0.9;
  }

  /* Header */


  .brand {

    padding: 2rem;
  }


  .hero {

  
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    }

   .intro-subtitle {
    font-size: 1.7rem;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
  

  .title-txt {

    font-size: 2rem;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
 
   @media (max-width: 768px) {
    
    .intro-subtitle {

      font-size: 18px;
      font-weight: 300;

    }

    .title-txt {

      font-size: 20px;

    }

    .about-section {

      height: auto;
      padding: 2rem 1.5rem !important;
      line-height: 24px;
      font-family: 'Roboto', sans-serif;
      width: 70vw !important;

    }

  } 
  
   .text-slider-items {
    display: none;
  }


/* About Section */
  
#about {

  min-height: 100vh;
  background-color: #1A1C1E;
  opacity: 0.94;
}

.about-title {

  padding: 3rem 0;
  text-align: center;
  color: #f2f2f2;
  font-family: 'Montserrat';
  letter-spacing: 2px;
  font-weight: 600;
  
}

.about-section {

  padding: 4rem 2rem;
  width: 60%;
  height: auto;
  margin: 0 auto;
  box-shadow: 1px 2px 3px rgba(8, 8, 8, 0.952);
  border-radius: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  
}

.social-icons {

  text-align: center;
  margin: 2rem 0;

}

.icon {

  font-size: 2.2rem;
  padding: 1rem;
}

/* Project */

#project {

  background-color: #1A1C1E;
  opacity: 0.94;
  height: 100%;
  padding: 2rem;
}

.project-title {

  padding: 3rem;
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 5rem;
  font-family: 'Montserrat';
  letter-spacing: 2px;
  font-weight: 600;
}

@media (min-width: 768px) {
  
  .projects {

    display: flex;
    justify-content: space-around;
  }

  .proj {

    text-align: center;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 60vw;
    margin: 2rem auto;
    width: 25vw;
    height: auto;
   
  }

  
}

@media (max-width: 768px) {
  
    
  .proj {

    text-align: justify;
    border-radius: 1rem;
    padding: 2rem;
    height: auto;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 70vw;
    margin: 3rem auto;
    transition: all .2s ease-in;
   
  }

 
  
}

.proj-about {

  text-align: center;
}


.proj > h2 {

  margin-bottom: 2rem;
  text-align: center;
}

.proj1 {


background-image: linear-gradient(120deg, #4A8EEB, #3354C3);


}

.proj2 {
  
  background: linear-gradient(120deg, #362F6B, #97298D);



}

.proj3 {

  background-image: linear-gradient(120deg, #055C48, #15B06F);

}

/* Timeline */

.timeline-head {

  text-align: center;
  position: absolute;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 30px;
  
}

.containert {

  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #1A1C1E;
  padding: 100px 0;
  color: white;
  opacity: 0.94;
}

.timeline {

  width: 80%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.timeline ul {

  list-style: none;
}

.timeline ul li {

  
  
}

.timeline ul li:last-child {

  margin-bottom: 0;
}

.timeline-content {

  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 0.1),
              inset 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.timeline-content h1 {

  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #1AADD4;
  margin-bottom: 10px;
  border-radius: 15px;

}

.timeline-content p {

  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.timeline-content .date {

  font-size: 13px;
  font-weight: 200;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  
  .timeline::before {

    content: '';
    position: absolute;
    height: 98%;
    width: 2px;
    background-color: gray;
    left: 0;
    transform: translate(-50%);
  }
  
  .timeline ul li::after {
  
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 0;
  }
  
  
  .timeline ul li:nth-child(1)::after {
  
    left: 0px;
    transform: translate(-50%,-50%);
  }
  
  .timeline ul li:nth-child(2)::after {
  
    left: 0;
    top: 300px;
    transform: translate(-50%,-50%);
  }
  
  .timeline ul li:nth-child(3)::after {
  
    left: 0;
    top: 600px;
    transform: translate(-50%,-50%);
  }
  
  .timeline ul li:nth-child(4)::after {
  
    left: 0;
    top: 900px;
    transform: translate(-50%,-50%);
  }
  
  .timeline ul li:hover::after {

    background-color: #1AADD4;
    transition: all 1s;
}

}



@media  (min-width: 768px) {

  .timeline::before {

      content: '';
      position: absolute;
      height: 98%;
      width: 2px;
      background-color: gray;
      left: 50%;
      transform: translate(-50%);
  }
  
  .timeline ul li {

      width: 50%;
      margin-bottom: 50px;
      position: relative;
  }

  .timeline ul li:nth-child(odd) {

      float: left;
      clear: right;
      transform: translateX(-60px);
  }
  .timeline ul li:nth-child(even) {

      float: right;
      clear: left;
      transform: translateX(30px);
  }

  .timeline ul li::after {

      content: '';
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: gray;
      position: absolute;
      top: 0;
  }

  .timeline ul li:nth-child(odd)::after {

      right: -45px;
      transform: translate(50%,-50%);
  }
  .timeline ul li:nth-child(even)::after {

      left: -45px;
      transform: translate(-50%,-50%);
  }

  .timeline ul li:hover::after {

      background-color: #1AADD4;
      transition: all 1s;
  }

  .timeline-content .date {

      position: absolute;
      top: -30px;
  }
  
}


.btn:link, .btn:visited {

  text-decoration: none;
  color: #687980;
  display: inline-block;
  background-color: white;
  border: 2px solid white;
  border-radius: 100px;
  margin-top: 2rem;
  padding: 10px 25px;
  font-size: 16px;
  font-family: 'Roboto';
  transition: all .2s;
}

.btn:hover {

  transform: translateY(-2px);

}

.btn:active {

  transform: translateY(2px);
}



/* Footer */

footer {

  background-color: #1A1C1E;
}


.foot-social-icons {

  text-align: center;
  
}

.foot-social-icons i {

  font-size: 25px;
  padding: 25px 15px;
}

footer p {

  text-align: center;
  padding: 1rem 0;
}

/* Animations  */

.about-section, .tc1, .tc2, .tc3, .tc4 {

  opacity: 0;
}

.about-section.animated, .tc1.animated, .tc2.animated, .tc3.animated, .tc4.animated {

  opacity: 1;
}